<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Sign up / Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form action = "/user" method = "post">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="name" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd1" placeholder="Password" required="">
                    <input type="password" name="pswd2" placeholder="Confirm Password" required="">
					<input type="text" name="address" placeholder="Address" required="">
                    <input type="text" name="phone" placeholder="phone" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
                
				<form action="/login_user" method = "post">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="uid" placeholder="User ID" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
