{% extends 'base.html' %}

{% block body %}
{% if notifications %}
  {% for notification in notifications %}
  <div class="card col-12" style="background-color: #F0FFF0;">
      <div class="card-body">
        <h5 class="card-title">{{notification.1}}</h5>
        <p class="card-text">{{notification.2}}</p>
        <p class="card-text" style="font-size: small; color: grey;">{{notification.3}}</p>
        
        {% if 'slr' in user_id %}
          {% if notification.6 == 'No reply' %}
          <form action="/notification" method="post">
            {% csrf_token %}
            <input type="hidden" name = 'task' value="reply">
            <input type="hidden" name = 'from_id' value="{{user_id}}">
            <input type="hidden" name = 'notification_id' value={{notification.0}}>
            <div class="input-group mb-3">
            
              
              <div class='container-fluid px-0' >
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#replymessage{{p.0}}" aria-expanded="false" aria-controls="replymessage{{p.0}}">
                                Reply
                            </button>
                        </h2>
                        <div id="replymessage{{p.0}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            
                            <div class="row align-items-center">
                              <div class="col">
                                  <label for="quantity" class="small text-muted mb-0">Write Reply</label>
                                  <textarea class="form-control" id="body" name="body" rows="3" placeholder = "What do you think?"></textarea>
                              </div>
                          </div>
                        

                          <div class="row mt-3">
                              <div class="col">
                                  <button type="submit" class="btn btn-outline-success">Send</button>
                              </div>
                          </div>

                        </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
          </form>
          {% else%}
          <div class="card col-12" style="background-color: #F0FFF0;">
            <div class="card-body">
              <h5 class="card-title">Reply:</h5>
              <p class="card-text">{{notification.6}}</p>
              <p class="card-text" style="font-size: small; color: grey;">{{notification.3}}</p>
            </div>
          </div>
          {% endif %}
        {% elif 'user' in user_id  and user_id != 'user0000' %}
          {% if notification.6 != 'No reply' %}
            <div class="card col-12" style="background-color: #F0FFF0;">
              <div class="card-body">
                <h5 class="card-title">Query: </h5>
                <p class="card-text">{{notification.7}}</p>
                <p class="card-text" style="font-size: small; color: grey;">{{notification.3}}</p>
              </div>
            </div>
          {% endif %}
        {% endif %}

      </div>
  </div>
  {% endfor %}
{% else %}
  <div class="card col-12" style="background-color: #F0FFF0;">
      <div class="card-body">
        <h5 class="card-title">No Notifications</h5>
      </div>
  </div>
{% endif %}

{% endblock %}
